/* bebas-neue-regular - latin */
body{
    background-color: rgb(118, 141, 245);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:8%
}


.courier-font{
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 200px;
    color: rgb(255, 255, 255);
}
